<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="Sisbackup Server"
           Manufacturer="Sisbackup"
           Version="2.6.0"
           UpgradeCode="A1B2C3D4-E5F6-7890-ABCD-EF1234567890"
           Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Sisbackup Server" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ShortcutFolder" Name="Sisbackup" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="Main" Title="Sisbackup Server" Level="1">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>

    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExe" Guid="B1C2D3E4-F5A6-7890-ABCD-EF1234567892">
        <File Id="ServerExe" Source="..\SisbackupServer\bin\Release\net8.0-windows\win-x64\publish\SisbackupServer.exe" KeyPath="yes" />
        <Shortcut Id="StartMenuShortcut" Directory="ShortcutFolder" Name="Sisbackup Server" Advertise="yes" />
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Sisbackup Server" Advertise="yes" />
      </Component>

      <Component Id="AppDlls" Guid="C1D2E3F4-A5B6-7890-ABCD-EF1234567893">
        <Files Include="..\SisbackupServer\bin\Release\net8.0-windows\win-x64\publish\*.dll" />
        <Files Include="..\SisbackupServer\bin\Release\net8.0-windows\win-x64\publish\*.json" />
      </Component>

      <Component Id="NodeServer" Guid="D1E2F3A4-B5C6-7890-ABCD-EF1234567894">
        <Files Include="..\SisbackupServer\bin\Release\net8.0-windows\win-x64\publish\NodeServer\**\*" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
